#country-title{ color: blue; 
    flex-direction: column;

}


header {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    font-weight: 220 ;
}
#subheader
